In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/drive/MyDrive/store_sales.csv')

df.rename(columns={'DiscountApplied(%)':'Discount%'}, inplace=True)

# Derived columns
* AgeGroup
* DiscountBucket
* CustomerType (New / Returning)
* RatingCategory
* SpendBucket
* HighDiscountFlag
* HighValuePurchaseFlag
* SeasonCategory
* PaymentTypeGroupSpendBucket

In [ ]:
# df['Amount'].sample(20)
df.head()

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,Discount%,PreviousPurchases,AgeGroup,DiscountBucket,CustomerType,RatingCategory,SpendBucket,HighDiscountFlag,HighValuePurchaseFlag,Season_SalesCategory,PaymentTypeGroupSpendBucket
0,1,58,Female,Accessories,Handbag,115.50,Autumn,Card,3.5,18,4,50-59,Mid,Returning,Average,Moderate,No,No,High,Card-Moderate
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4,40-49,Low,Returning,Excellent,Moderate,No,No,Peak,Card-Moderate
2,3,66,Female,Sports,Football,35.45,Spring,Card,3.3,11,3,60-70,Low,Returning,Average,Cheap,No,No,Peak,Card-Cheap
3,4,39,Female,Accessories,Handbag,153.31,Spring,Card,4.4,13,4,30-39,Low,Returning,Excellent,Expensive,No,No,Peak,Card-Expensive
4,5,23,Female,Home,Curtains,151.43,Winter,Card,4.1,20,10,20-29,Mid,Returning,Excellent,Expensive,No,No,High,Card-Expensive

In [ ]:
# age group
df['AgeGroup'] = pd.cut(df['Age'], bins=[19, 29, 39, 49, 59, 70], labels=['20-29', '30-39', '40-49', '50-59', '60-70'])

In [ ]:
# discount bucket
df['DiscountBucket'] = pd.cut(df['Discount%'], bins=[-0.1,0,15,35,50], labels = ['Nil', 'Low', 'Mid', 'High'])

In [ ]:
# customer type (new / returning)
df['CustomerType'] = np.where(df['PreviousPurchases'] > 0, 'Returning', 'New')

In [ ]:
# Rating category

df['RatingCategory'] = pd.cut(df['ItemRating'], bins=[0, 3, 4, 5], labels=['Poor', 'Average', 'Excellent'])

In [ ]:
# spend bucket

# quartiles : equal partition, instead of bins
df['SpendBucket'] = pd.qcut(df['Amount'], q=4, labels=['Cheap', 'Moderate', 'Expensive', 'Very Expensive'])

In [ ]:
# discount flag

df['HighDiscountFlag'] = np.where(df['Discount%'] >=25, 'Yes', 'No' )

In [ ]:
# High Value Purchase Flag

df['HighValuePurchaseFlag'] = np.where(df['Amount'] >= 1000, 'Yes', 'No')

In [ ]:
# Season Sales Category
season_sales_category = pd.cut(df.groupby(['Season'])['Amount'].sum(), bins = [0, 200000, 340000, 360000, 380000], labels = ['Low', 'Average', 'High', 'Peak'])

#df.groupby(['Season'])['Amount'].sum()

# Season
# Autumn	343677.89
# Spring	376029.40
# Summer	350860.36
# Winter	354884.96


#print(season_sales_caetgory)

# Season
# Autumn    High
# Spring    Peak
# Summer    High
# Winter    High

# map() map returns the value to a key from the dictionary passed as parameter and populates with value based on the key
df['Season_SalesCategory'] = df['Season'].map(dict(season_sales_category)) # needed to pass dictionary hence, dict()

In [ ]:
# df['SpendBucket'] = pd.cut(df['Amount'], bins=[0, 300, 700, 1500, 3000], labels=['Cheap', 'Moderate', 'Expensive', 'Very Expensive'])

#astype because we are working with panda series and not a single value to use str()

df['PaymentTypeGroupSpendBucket'] = (df['PaymentMethod']).astype(str) + '-' + (df['SpendBucket']).astype(str)

In [ ]:
df.head()

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,Discount%,PreviousPurchases,AgeGroup,DiscountBucket,CustomerType,RatingCategory,SpendBucket,HighDiscountFlag,HighValuePurchaseFlag,Season_SalesCategory,PaymentTypeGroupSpendBucket
0,1,58,Female,Accessories,Handbag,115.50,Autumn,Card,3.5,18,4,50-59,Mid,Returning,Average,Moderate,No,No,High,Card-Moderate
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4,40-49,Low,Returning,Excellent,Moderate,No,No,Peak,Card-Moderate
2,3,66,Female,Sports,Football,35.45,Spring,Card,3.3,11,3,60-70,Low,Returning,Average,Cheap,No,No,Peak,Card-Cheap
3,4,39,Female,Accessories,Handbag,153.31,Spring,Card,4.4,13,4,30-39,Low,Returning,Excellent,Expensive,No,No,Peak,Card-Expensive
4,5,23,Female,Home,Curtains,151.43,Winter,Card,4.1,20,10,20-29,Mid,Returning,Excellent,Expensive,No,No,High,Card-Expensive

# Explanatory data analysis objective
1. Revenue by category
2. Revenue by season
3. Avg spend by gender
4. Avg spend by age group
5. Discount vs amount relationship : Does discount increase sales or just reduce profit potential?
6. Previous purchases vs amount : Do repeat customers spend more?
7. Rating vs amount
8. Preferred payment methods

In [ ]:
df.head()

,CustomerID,Age,Gender,Category,ItemPurchased,Amount,Season,PaymentMethod,ItemRating,Discount%,PreviousPurchases,AgeGroup,DiscountBucket,CustomerType,RatingCategory,SpendBucket,HighDiscountFlag,HighValuePurchaseFlag,Season_SalesCategory,PaymentTypeGroupSpendBucket
0,1,58,Female,Accessories,Handbag,115.50,Autumn,Card,3.5,18,4,50-59,Mid,Returning,Average,Moderate,No,No,High,Card-Moderate
1,2,40,Male,Mens Clothing,Shirt,103.43,Spring,Card,4.1,13,4,40-49,Low,Returning,Excellent,Moderate,No,No,Peak,Card-Moderate
2,3,66,Female,Sports,Football,35.45,Spring,Card,3.3,11,3,60-70,Low,Returning,Average,Cheap,No,No,Peak,Card-Cheap
3,4,39,Female,Accessories,Handbag,153.31,Spring,Card,4.4,13,4,30-39,Low,Returning,Excellent,Expensive,No,No,Peak,Card-Expensive
4,5,23,Female,Home,Curtains,151.43,Winter,Card,4.1,20,10,20-29,Mid,Returning,Excellent,Expensive,No,No,High,Card-Expensive

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5000 non-null   int64
 1   Age                          5000 non-null   int64
 2   Gender                       5000 non-null   object
 3   Category                     5000 non-null   object
 4   ItemPurchased                5000 non-null   object
 5   Amount                       5000 non-null   float64
 6   Season                       5000 non-null   object
 7   PaymentMethod                5000 non-null   object
 8   ItemRating                   5000 non-null   float64
 9   Discount%                    5000 non-null   int64
 10  PreviousPurchases            5000 non-null   int64
 11  AgeGroup                     5000 non-null   category
 12  DiscountBucket               5000 non-null   category
 13  CustomerType                 5000 non-null   object
 14  RatingCategory               5000 non-null   category
 15  SpendBucket                  5000 non-null   category
 16  HighDiscountFlag             5000 non-null   object
 17  HighValuePurchaseFlag        5000 non-null   object
 18  Season_SalesCategory         5000 non-null   object
 19  PaymentTypeGroupSpendBucket  5000 non-null   object
dtypes: category(4), float64(2), int64(4), object(10)
memory usage: 645.4+ KB

# Revenue by category

In [ ]:
df['Category'].drop_duplicates()

0         Accessories
1       Mens Clothing
2              Sports
4                Home
5           Groceries
6         Electronics
7              Beauty
9            Footwear
17    Womens Clothing
Name: Category, dtype: object

In [ ]:

df.groupby('Category')['Amount'].sum().sort_values(ascending = False)

Category
Electronics        895402.35
Footwear           141142.24
Sports             115598.11
Womens Clothing     61718.41
Mens Clothing       59680.43
Accessories         47633.83
Home                46374.22
Beauty              43887.06
Groceries           14015.96
Name: Amount, dtype: float64

# Discount vs amount relationship : Does discount increase sales or just reduce profit potential?

In [ ]:
df.groupby('Discount%')['Amount'].sum().sort_values(ascending = False)

/tmp/ipython-input-3734192492.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('DiscountBucket')['Amount'].mean().sort_values(ascending = False)

DiscountBucket
Nil     373.364444
Low     285.758063
Mid     284.007314
High    168.810000
Name: Amount, dtype: float64

# Revenue by Season

In [ ]:
df.head()

In [ ]:
df.groupby(['Season'])['Amount'].sum().sort_values(ascending = False)

In [ ]:
# Seasonal sales but add categorical sales in each season in descending order

# Check chatgpt solution

# Previous purchases vs amount : Do repeat customers spend more?

In [ ]:
df.groupby(['PreviousPurchases'])['Amount'].sum().sort_values(ascending = False)

# Rating vs amount

In [ ]:
df.groupby(['ItemRating'])['Amount'].sum().sort_values(ascending = False)

# Preferred payment methods

In [ ]:
df.groupby(['PaymentMethod'])['Amount'].sum().sort_values(ascending = False)

# Spending pattern by age & gender

In [ ]:
df.head()

In [ ]:
# Age
df.groupby(['Age'])['Amount'].sum().sort_values(ascending = False)

In [ ]:
# Gender
df.groupby(['Gender'])['Amount'].sum().sort_values(ascending = False)

In [ ]:
# Spending based on Age for each Gender
df.groupby(['Gender', 'Age'])['Amount'].sum().sort_values(ascending = False)

In [ ]:
df.to_csv('/content/drive/MyDrive/store_sales.csv',index = False)

# Average Spend by AgeGroup

In [ ]:
df.groupby(['AgeGroup'])['Amount'].sum().sort_values(ascending = False)